[submodule "src/ldpc_post_selection/ext/subproject"]
	path = src/ldpc_post_selection/ext/subproject
	url = https://github.com/seokhyung-lee/SlidingWindowDecoder.git
[submodule "src/ldpc_post_selection/ext/SlidingWindowDecoder"]
	path = src/ldpc_post_selection/ext/SlidingWindowDecoder
	url = https://github.com/seokhyung-lee/SlidingWindowDecoder.git
[submodule "src/ldpc_post_selection/ext/ldpc"]
	path = src/ldpc_post_selection/ext/ldpc
	url = https://github.com/seokhyung-lee/ldpc.git
[submodule "src/ldpc_post_selection/ext/BivariateBicycleCodes"]
	path = src/ldpc_post_selection/ext/BivariateBicycleCodes
	url = https://github.com/seokhyung-lee/BivariateBicycleCodes.git
